.output-main {
  padding-top: 110px;
  background-color:#F5F5F5;
  background-size: cover;
  padding-bottom: 10px;
  overflow-x: scroll;
  padding-left: 40px;
}

.display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 30px;
}

.travel-item {
  width: 550px;
  height: 500px;
}

.thumbnail {
  object-fit: cover;
  margin-top: 10px;
  border-radius: 10px;
  width:100%;
}

.place-name {
  font-family: 'NanumGothic-Bold';
  font-weight: 700;
  
}

.travel-item>p {
  margin-top: 10px;
  font-family: 'NanumGothic-Regular', sans-serif;
}

/* responsive style for iphone 12 Pro */
@media (max-width: 390px) {
  .output-main {
    padding-left: 1px;
  }
  .display-grid {
    grid-template-columns: 90vw;
    overflow: auto;
  }
}

/* responsive style for Samsung Galuxy S20 Ultra */
@media (min-width: 391px) and (max-width: 412px) {
  .output-main {
    padding-left: 1px;
  }
  .display-grid {
    grid-template-columns: 90vw;
    margin-left: none;
    margin-right: none;
    overflow: auto;
  }
}

/* responsive style for apple ipad air */
@media (min-width: 413px) and (max-width: 1180px) {
  .display-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* responsive style for laptop */
@media (min-width: 1181px) and (max-width: 1920px) {
  .display-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* responsive style for desktop */
@media (min-width: 1921px) {
  .display-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}