.chat-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: url('/img/main.jpg');
    background-size: cover;
    height: 1000px;
    padding-top: 100px;

}

.chat-wrap {
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    font-family: 'Nanum Gothic', sans-serif;

}

.chat-info {
    font-weight:700;
    font-size: x-large;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}

ul {
    list-style-type: none;
}

.question {
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: xx-large;
    color: red;
}

.answer {
    display: flex;
    justify-content: flex-end;
    font-family: 'Nanum Gothic', sans-serif;
    font-size:xx-large;
    color: blue;
    padding-bottom: 10px;
}

.divQuestion {
    border-radius: 0 20px 20px 20px;
    background-color: white;
    padding: 5px 10px;
}

.divAnswer {
    border-radius: 20px 20px 0 20px;
    float: right;
    background-color: white;
    padding: 5px 10px;
}

.chat-screen {
    overflow-y: scroll; 
    margin-left: 40px;
    border-radius: 5px;
}

.chat-form {
    /* background-color:#eeeeee; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1px;
    padding: 20px;
    opacity: 80%;
}

.chat-item {
    width: 650px;
    background-color:#9bd4df;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.textbox {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    font-weight: 700;
    font-size: x-large;
}
.chat-form>button {
    margin-top: 10px;
   
    border-radius: 10px;
    border-width: 1px;
    font-weight: 700;
    font-size: x-large;
}
/* font-family: 'Gamja Flower', cursive;
font-family: 'Roboto', sans-serif; */