/* 초기화 */
body,
h1,
h2,
p,
fieldset,
ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
textarea,
select {
	box-sizing: border-box;
}

select:enabled,
button:enabled {
	cursor: pointer;
}

/* font */
@font-face {
	font-family: 'NanumGothic-Regular';
	src: url('./font/NanumGothic-Regular.ttf') format('woff2');
  }

  @font-face {
	font-family: 'NanumGothic-Bold';
	src: url('./font/NanumGothic-Bold.ttf') format('woff2');
  }

@font-face {
	font-family: 'NanumGothic-ExtraBold';
	src: url('./font/NanumGothic-ExtraBold.ttf') format('woff2');
  }

/* header */
.header {
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(240, 240, 240);
	background-color: #ffffff;
	font-family: 'NanumGothic-Regular', sans-serif;
	font-size: 1em;
	padding: 10px 0 10px 0;
}

.header-left-section,
.header-m-r-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-left-section {
	box-sizing:border-box;
	padding-left: 10px;
	padding-right: 10px;
}

.header-middle-section,
.header-right-section {
	padding: 26px;
	box-sizing:border-box;
}

.icon-text {
	margin-left: 5px;
}

.icon {
	width:2rem;
	height: 2rem;
	object-fit: cover;
}

.header-left-section:hover,
.icon-container:hover,
.header-middle-section:hover,
.header-right-section:hover {
    background-color: rgb(235, 235, 235);
}

h1 {
	display:none;
}

/* body */
body {
	height: 100vh;
}

/* footer */
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: #eeeeee;
	font-family: 'NanumGothic-Regular';
	font-size: large;
	height: 8vh;
}

/* responsive style for iphone 12 Pro */
@media (max-width: 390px) {
    .header {
      width: 109vw;
      font-size:xx-small;
      justify-content:left;
    }
	.header-middle-section,
	.header-right-section {
	padding: none;
	box-sizing:border-box;
	}
	.footer {
		font-size: xx-small;
		padding: none;
	}
  }

/* responsive style for Samsung Galuxy S20 Ultra */
  @media (min-width: 391px) and (max-width: 412px) {
    .header {
	width: 110vw;
    font-size:x-small;
    justify-content:left;
    }
	.header-middle-section,
	.header-right-section {
	padding: none;
	box-sizing:border-box;
	}
	.footer {
		font-size: xx-small;
		padding: none;
	}
  }