/* 초기화 ------------------------------------ */
body,
h1,
h2,
p,
fieldset,
ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
textarea,
select {
	box-sizing: border-box;
}

select:enabled,
button:enabled {
	cursor: pointer;
}

/* header */
.header {
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(240, 240, 240);
	cursor: pointer;
	background-color: white;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1em;
}

.header-left-section,
.header-m-r-section {
	display: flex;
	justify-content: center;
	align-items: center;
}


.header-left-section {
	box-sizing:border-box;
	padding-left: 10px;
	padding-right: 10px;
}


.header-middle-section,
.header-right-section {
	padding: 26px;
	box-sizing:border-box;

}


.icon-text {
	margin-left: 5px;
}
.icon {
	width:2rem;
	height: 2rem;
	object-fit: cover;
}
.header-left-section:hover,
.icon-container:hover,
.header-middle-section:hover,
.header-right-section:hover {
    background-color: rgb(235, 235, 235);
}


/* footer */
footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	background: #eee;
	padding: 20px 0;
}