.index-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 1000px;
    background-image: url('../img/index.jpg');
    background-size: cover;
    opacity: 80%;
    margin-left: 20px;
    margin-right: 20px;
}

.index-btn {
    height: 50px;
    width: 300px;
    opacity: 80%;
    border-radius: 10px;
    border-width: 1px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    font-size: x-large;

}

.intro-text {
    font-size: xx-large;
    text-align: center;
}


@media (max-width: 390px) {
    .index-main {
        background-image: none;
        height:90vh;
        }

    .intro-text {
        font-size: small;
    }
    .index-btn {
        height: 40px;
        width: 200px;
        opacity: 80%;
        border-radius: 10px;
        border-width: 1px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
        font-size: inherit;
    
    }
  }
  
  @media (min-width: 391px) and (max-width: 412px) {
    .index-main {
        background-image: none;
        height:90vh;
        }

    .intro-text {
        font-size: small;
    }
    .index-btn {
        height: 40px;
        width: 200px;
        opacity: 80%;
        border-radius: 10px;
        border-width: 1px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
        font-size: inherit;
    
    }
    
  }