.index-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 1200px;
    background-image: url('../img/index.jpg');
    background-size: cover;
    opacity: 80%;
}

.index-btn {
    height: 50px;
    width: 300px;
    opacity: 80%;
    border-radius: 10px;
    border-width: 1px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    font-size: x-large;

}

.intro-text {
    font-size: xx-large;
    text-align: center;
}