.main-main {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url('../img/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 96vh;
}

.main-container {
    display: grid;
    width: 600px;
    height: 540px;
    margin: 90px 0 0 0;
    padding: 20px;
    background-color: #eeeeee;
    border-radius: 20px;
    font-family: 'NanumGothic-Regular', sans-serif;
}

.title {
    margin-top: 30px;
}

.title,
.description {
    text-align: center;
}

.description {
    color: #767676;
}

fieldset {
    padding-top: 40px;
    margin: 0 20px 0 20px;
    border-radius: 5px;
}

fieldset>legend {
    text-align: center;
    font-size: large;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 40px;
}

.travel-duration,
.people-budget {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
}

#input-num,
#budget {
    text-align: right;
}

.main-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.submit-button {
    width: 45%;
    height: 40px;
    background-color: #548fbc;
    color: #FFFFFF;
    border-width: 0;
    border-radius: 4px;
    font: inherit;
    box-sizing: content-box;
    padding: 0;
}

.reset-button {
    width: 45%;
    height: 40px;
    background-color: #dc9b75;
    color: #FFFFFF;
    border-width: 0;
    border-radius: 4px;
    font: inherit;
    box-sizing: content-box;
    padding: 0;
}

.submit-button:hover {
    color: #548fbc;
    background-color: #FFFFFF;
    font-family: 'NanumGothic-Bold', sans-serif;
    font-size: large;
}

.reset-button:hover {
    color: #dc9b75;
    background-color: #FFFFFF;
    font-family: 'NanumGothic-Bold', sans-serif;
    font-size: large;
}

/* responsive style for iphone 12 Pro */
@media (max-width: 390px) {
    .main-main {
        height: 100vh;
    }

    .main-container {
        width: 110vw;
        font-size: xx-small;
        margin: none;
        background-color: none;
        height: 500px;
    }

    .main-container>h2,
    .main-container>p {
        padding-bottom: 20px;
    }
}

/* responsive style for Samsung Galuxy S20 Ultra */
@media (min-width: 391px) and (max-width: 412px) {
    .main-main {
        height: 100vh;
    }

    .main-container {
        width: 110vw;
        font-size: xx-small;
        margin: none;
        background-color: none;
        height: 500px;
    }

    .main-container>h2,
    .main-container>p {
        padding-bottom: 20px;
    }
}